version: '3'

services:
  apache:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: php
    restart: always
    environment:
      MYSQL_DATABASE: insecure
      MYSQL_USER: user
      MYSQL_PASSWORD: test
    links: 
      - db:db
    ports:
      - 81:80
    volumes:
      - ../app:/var/www/html

  db:
    image: mysql:8.0
    container_name: mysql
    ports: 
        - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
        MYSQL_DATABASE: insecure
        MYSQL_USER: user
        MYSQL_PASSWORD: test
        MYSQL_ROOT_PASSWORD: test  
    volumes:
        - persistent:/var/lib/mysql

    networks:
        - default

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    links: 
        - db:db
    ports:
        - 8000:80
    environment:
        MYSQL_USER: user
        MYSQL_PASSWORD: test
        MYSQL_ROOT_PASSWORD: test

  webgoat:
    image: webgoat/webgoat-7.1
    container_name: webgoat
    ports:
      - 8080:8080

  webdvwa:
    image: vulnerables/web-dvwa
    container_name: webdvwa
    ports:
      - 80:80
  
  juiceshop:
    image: bkimminich/juice-shop
    container_name: juiceshop
    ports:
      - 3000:3000
     

volumes:
    persistent:
